---
const { url, label, sublabel } = Astro.props;
---

<a
  href={url}
  class="py-2 md:py-3 px-3 md:px-4 inline-flex justify-between items-center text-sm md:text-base font-semibold rounded-full border-2 border-gray-200 shadow-md tracking-wide text-gray-700 bg-white hover:border-[#C59C75] disabled:opacity-50 disabled:pointer-events-none"
  ><div class="text-center w-full">
    {label}<p class="tracking-normal text-xs normal-case text-gray-500">
      {sublabel}
    </p>
  </div><slot /></a
>
